outputs/
/tmp/
.DS_Store
.env
aws/
awscliv2.zip
#node
logs
*.logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
instance/
.webassets-cache
.python-version
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.AppleDouble
.LSOverride
node_modules/
jspm_packages/
backend/pyvenv.cfg
backend/bin
backend/include
backend/lub
backend/lib64
/CSUBuyP2P/
